@import 'tailwindcss';

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #eef4ef;
  font-family: Arial, sans-serif;
}

.cadastrar {
    width: 100%;
    padding: 12px;
    margin-top: 5px;

    border: none;
    border-radius: 8px;

    background-color: #4f7161;
    color: white;

    font-size: 15px;
    cursor: pointer;

    transition: 0.3s;
}

.cadastrar:hover {
    background-color: #3f5c4f;
}
